@import 'tailwindcss';

/* Apply Poppins to the body */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
}

h1,
h2,
h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}

.active {
  background-color: #fdba74;
}
